.experiencia {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo {
    color: #c6c6c6;
}

.experiencia-texto {
    max-width: 40ch;
    font-size: 1.5rem;
    line-height: 1.33;
    color: #363333;
    margin-bottom: 60px;
}

.experiencia-texto strong {
    color: #0A0B0C;
}

.empresa {
    background-color: #F4F4F4;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    border-radius: 4px;
    position: relative;
}

.empresa::before {
    display: block;
    content: "";
    width: 4px;
    height: 20px;
    background: linear-gradient(180deg, #2147A7 0%, #436EDB 100%);
    position: absolute;
    top: 20px;
    left: -4px;
}

.empresa-ano {
    width: 80px;
    text-align: right;
    font-size: .875rem;
    position: absolute;
    top: 22px;
    left: -100px;
    color: #969696;
}

.empresa-titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    color: #0A0B0C;
    font-weight: bold;
}

.empresa-texto {
    font-size: .875rem;
    line-height: 1.3;
    color: #363333;
}

.empresa-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

.empresa-habilidades li {
    font-size: .875rem;
    background-color: #fff;
    color: #0A0B0C;
    padding: 5px 10px;
    border-radius: 4px;
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .experiencia .subtitulo {
        color: #0A0B0C;
    }
}

@media (max-width: 400px) {
    .experiencia-texto {
        font-size: 1.2rem;
    }
}
