.formacao {
    background-color: #0A0B0C;
    color: #fff;
}

.formacao-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    position: relative;
}

.formacao-container::after {
    display: block;
    content: '';
    width: 130px;
    height: 100px;
    background: url(../img/detalhe.svg) no-repeat center;
    position: absolute;
    bottom: -40px;
    left: 40px;
}

.formacao-container .subtitulo {
    color: #000;
    max-width: 5ch;
}

.formacao-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    color: #7E7E7E;
    margin-bottom: 60px;
}

.formacao-texto strong {
    color: #fff;
}

.faculdade-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}

.faculdade {
    flex: 1;
    background-color: #000;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.faculdade-tipo {
    font-size: .875rem;
    text-transform: uppercase;
    color: #7E7E7E;
    margin-bottom: 10px;
}

.faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.3;
    margin-bottom: 50px;
    position: relative;
}

.faculdade-curso::before {
    display: block;
    content: "";
    width: 4px;
    height: 20px;
    background: linear-gradient(180deg, #2147A7 0%, #436EDB 100%);
    position: absolute;
    left: -24px;
}

.faculdade-instituicao {
    font-size: 1rem;
    color: #7E7E7E;
}

.formacao-extra h3 {
    font-size: .875rem;
    color: #646363;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
}

.formacao-extra h3::before {
    display: block;
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -4px;
    left: -30px;
}

.cursos h3::before {
    background: url(../img/cursos.svg) no-repeat center center;
}

.idiomas h3::before {
    background: url(../img/idiomas.svg) no-repeat center center;
}

.cursos {
    margin-bottom: 60px;
}

.cursos li {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.cursos li span {
    color: #7E7E7E;
}

.idiomas li {
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.idiomas li span {
    color: #7E7E7E;
}

@media (max-width: 800px) {
    .formacao-container {
        gap: 40px;
        grid-template-columns: 1fr;
    }

    .formacao-texto {
        font-size: 1.2rem;
    }

    .formacao-extra h3::before {
        position: initial;
    }
}