.introducao {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    color: #0A0B0C;
    margin-bottom: 30px;
    position: relative;
}

.introducao h1::before {
    display: block;
    content: '';
    width: 130px;
    height: 100px;
    background: url(../img/detalhe.svg) no-repeat center;
    position: absolute;
    top: -10px;
    left: -50px;
    z-index: -1;
}

.introducao p {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #2E2B2B;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }

    .introducao h1::before {
        top: -30px;
    }
}

@media (max-width: 800px) {
    .introducao {
        gap: 50px;
    }

    .introducao h1 {
        font-size: 2.2rem;
    }

    .introducao h1::before {
        width: 30px;
        height: 10px;
        position: initial;
    }

    .introducao p {
        font-size: 1.2rem;
    }

}

@media (max-width: 500px) {
    .introducao img {
        display: none;
    }

    .introducao p {
        font-size: 1rem;
    }
}
